198.0.200.105 - - [14/Jan/2014:09:36:50 -0800] "GET /svds.com/rockandroll HTTP/1.1" 301 241 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:50 -0800] "GET /svds.com/rockandroll/ HTTP/1.1" 200 8301 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/modernizr-2.6.2.min.js HTTP/1.1" 200 8768 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/img/logo.png HTTP/1.1" 200 13728 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/gumby.js HTTP/1.1" 200 6464 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/ui/gumby.fittext.js HTTP/1.1" 200 2893 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/ui/gumby.retina.js HTTP/1.1" 200 1912 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/ui/gumby.fixed.js HTTP/1.1" 200 6171 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/ui/gumby.skiplink.js HTTP/1.1" 200 3727 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
198.0.200.105 - - [14/Jan/2014:09:36:51 -0800] "GET /svds.com/rockandroll/js/libs/ui/gumby.toggleswitch.js HTTP/1.1" 200 6673 "http://www.svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/js/libs/d3.min.js HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/js/libs/underscore-min.js HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/js/libs/backbone-min.js HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/js/all.min.js HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/font/Amatic-Bold.ttf HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/data/artist.json HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/data/influencers.json HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:14 -0700] "GET /svds.com/rockandroll/data/songs.json HTTP/1.1" 304 - "http://svds.com/rockandroll/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:13 -0700] "GET /svds.com/rockandroll/fonts/icons/entypo.woff HTTP/1.1" 404 4032 "http://svds.com/rockandroll/css/gumby.css" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
64.132.218.186 - - [22/Oct/2014:06:15:14 -0700] "GET /svds.com/rockandroll/fonts/icons/entypo.ttf HTTP/1.1" 404 4030 "http://svds.com/rockandroll/css/gumby.css" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36"
